<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type=text/css>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type=text/css>
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" type=text/css>
    <title>TranExcel Web Application</title>
</head>
<body>

    <section>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand mb-0 h1" href="{{ url_for('index') }}">TranExcel</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link inactive" aria-current="page" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Analysis
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="tripgenMain">Trip Generation</a></li>
                  <li><a class="dropdown-item" href="tripdisMain">Trip Distribution</a></li>
                  <li><a class="dropdown-item" href="tripassMain">Trip Assignment</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="networkMain">Network Builder</a></li>
                  <li><a class="dropdown-item" href="shortpathMain">Shortest Path</a></li>
                  <li><a class="dropdown-item" href="meMain">Matrix Estimation</a></li>
                  <li><a class="dropdown-item" href="throughMain">EE and IE/EI Estimator</a></li>
                  <li><a class="dropdown-item" href="formatMain">Building Area Usage Formatting</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="about">About</a>
              </li>
          </div>
        </div>
      </nav>

    </section>

    <header>
      <div class="jumbotron jumbotron-fluid">
        <div class="info">

          <div class="info-content">
            <h1>TranExcel</h1>
            <p>TranExcel is the macroscopic transport planning web application which helps DPT's planner to find the existing and forecasting traffic volume on transport network base on DPT's GIS database and traffic survey data.</p>
          </div>
        </div>
      </div>      
    </header>

    

    <div class="container mt-5">
        
        <div class="row mt-5">
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="static/image/tripgent01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Trip Generation</h5>
                      <p class="card-text">To predict the number of trips originating in or destined (each mode) for a particular traffic analysis zone.</p>
                      <a class="btn btn-dark" href="tripgenMain">Go TG Module</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="static/image/tripdist01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Trip Distribution</h5>
                      <p class="card-text">To predict the number of trips that occur between each origin zone and each destination zone.
                      </p>
                      <a href="tripdisMain" class="btn btn-dark">Go TD Module</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="static/image/tripassign01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Trip Assignment</h5>
                      <p class="card-text">To concern the selection of routes between origins and destinations and calculate the traffic volume.</p>
                      <a href="tripassMain" class="btn btn-dark">Go TA Module</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="static/image/network01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Network Builder</h5>
                      <p class="card-text">To display the transport network data in graphic form.</p>
                      <a href="networkMain"  class="btn btn-dark">Go NB Module</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="static/image/shortpath01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Shortest Path</h5>
                      <p class="card-text">To find the shortest path all of traffic analysis zones.</p>
                      <a href="shortpathMain"  class="btn btn-dark">Go SP Module</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                    <img src="static/image/ME01.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Matrix Estimation</h5>
                      <p class="card-text">To estimate the OD trip table from traffic count data.</p>
                      <a href="meMain"  class="btn btn-dark">Go ME Module</a>
                    </div>
                </div>
            </div>
        </div> 
        <div class="row mt-5 mb-5">
            <div class="col-md-4">
                <div class="card" style="width: 20rem;">
                  <img src="static/image/through01.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">EE and IE/EI Estimator</h5>
                    <p class="card-text">To estimate the EE and EI/IE trip from traffic count data.</p>
                    <a href="throughMain"  class="btn btn-dark">Go EE,IE/EI Module</a>
                  </div>
                </div>

            </div>

            <div class="col-md-4">
              <div class="card" style="width: 20rem;">
                  <img src="static/image/format01.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Building Area Usage Formatting</h5>
                    <p class="card-text">To change the building area usage data format from ArcGIS to TranExcel.</p>
                    <a href="formatMain"  class="btn btn-dark">Go BU Formatting Module</a>
                  </div>
              </div>
            </div>

        </div>
    </div>
    
    <footer>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>