<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type=text/css>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type=text/css>
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" type=text/css>
    <title>Input Data</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top mb-5">
        <div class="container">
          <a class="navbar-brand mb-0 h1" href="{{ url_for('index') }}">TranExcel</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Analysis
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="tripgenMain">Trip Generation</a></li>
                  <li><a class="dropdown-item" href="tripdisMain">Trip Distribution</a></li>
                  <li><a class="dropdown-item" href="tripassMain">Trip Assignment</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="networkMain">Network Builder</a></li>
                  <li><a class="dropdown-item" href="shortpathMain">Shortest Path</a></li>
                  <li><a class="dropdown-item" href="meMain">Matrix Estimation</a></li>
                  <li><a class="dropdown-item" href="throughMain">EE and IE/EI Estimator</a></li>
                  <li><a class="dropdown-item" href="formatMain">Building Area Usage Formatting</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="about">About</a>
              </li>
          </div>
        </div>
    </nav>

    <div class="container-fluid mt-5 p-5">
        <h3>Step 1 : Input Transport Network Data</h3>
        <br>
        <hr>
        <form action="meND" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label h5">Transport Node File</label>
                <input type="file" class="form-control" id="csvNode" name="csvNode">
                <small id="csvNode" class="form-text text-muted">Choose the node file (csv)</small>
                <br>
                <input class="btn btn-dark" type="submit" name="" value="UPLOAD">
            </div>            
        </form>
        <hr>
        <form action="meLK" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label h5">Transport Link and Mid-Block Count Traffic Volume File</label>
                <input type="file" class="form-control" id="csvLink" name="csvLink">
                <small id="csvLink" class="form-text text-muted">Choose the link and traffic count volume file (csv)</small>
                <br>
                <input class="btn btn-dark" type="submit" name="" value="UPLOAD">
            </div>
        </form>
        <hr>
        <br>
        <h3>Step 2 : Input Trip Data</h3>
        <br>
        <hr>
        <form action="meTE" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label h5">Trip End File</label>
                <input type="file" class="form-control" id="csvTE" name="csvTE" required>
                <small id="csvTE" class="form-text text-muted">Choose the trip end file (csv)</small>
                <br>
                <input class="btn btn-dark" type="submit" name="" value="UPLOAD" required>
            </div>
        </form>
        <hr>
        <form action="meTC" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="formFile" class="form-label h5">Travel Cost File</label>
                <input type="file" class="form-control" id="csvTC" name="csvTC" required>
                <small id="csvTC" class="form-text text-muted">Choose the travel cost file (csv)</small>
                <br>
                <input class="btn btn-dark" type="submit" name="" value="UPLOAD" required>
            </div>
        </form>
        <hr>
        <br>
        <h3>Step 3 : Variable Setting</h3>
        <br>
        <hr>
        <form action="meBETA" method="POST">
            <br>
            <h2>f(C<sub>ij</sub>)=&alpha;*C<sub>ij</sub><sup>-&beta;</sup></h2>
            <br>
            <div class="container-fluid">
                <div>
                    <b>&alpha;</b>
                    <input type="number" step=0.01 placeholder="1.00" name="alpha" required>
                </div>
                <div>
                    <b>initial &beta;</b>
                    <input type="number" step=0.01 placeholder="2.00" name="beta" required>
                </div>
                <div>
                    <b>Learning Rate</b>
                    <input type="number" step=0.01 placeholder="0.10" name="rate" required>
                </div>
                <div>
                    <b>Iteration</b>
                    <input type="number" name="iter" placeholder="10" required>
                </div>
            </div>    
            <br>
            <hr>
            <br>
            <input class="btn btn-dark" type="submit" name="est" value ="Estimate &beta;"> 
        </form>

    </div>


    <footer>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

</body>
</html>