<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}"
    rel="stylesheet" type=text/css> <link href="{{ url_for('static',
    filename='css/styles.css') }}" rel="stylesheet" type=text/css> <link
    href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}"
    rel="stylesheet" type=text/css>
    <title>Shortest Path Module</title>
  </head>
  <body>
    <div class="containerSP">
      <div class="item">
        <h3 style="color: white">SHORTEST PATH MODULE</h3>
        <p style="color: white">
          Shortest path module procedures find the minimum path between every
          TAZ interchange.The path can be the minimum time, distance, or a
          calculated impedance.The output of module is skims or travel time
          matrix contain information about the minimum impedance paths between
          all TAZ pairs in a network.
        </p>
        <button
          class="btn btn-dark"
          onclick="window.location.href='shortpathP1'"
        >
          ENTER
        </button>
      </div>
    </div>
  </body>
</html>
