<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}"
    rel="stylesheet" type=text/css> <link href="{{ url_for('static',
    filename='css/styles.css') }}" rel="stylesheet" type=text/css> <link
    href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}"
    rel="stylesheet" type=text/css>
    <title>The estimation of EE and IE/EI trips</title>
  </head>
  <body>
    <div class="containerEE">
      <div class="item">
        <h3 style="color: white">EE AND IE/EI ESTIMATOR MODULE</h3>
        <p style="color: white">
          The EE and IE/EI estimator module is to predict the external trip
          generation totals for the external zones include IE, EI ,and EE
          Trips.Also,it is to obtain a matrix of thorough trips among external
          station.
        </p>
        <button class="btn btn-dark" onclick="window.location.href='throughP1'">
          ENTER
        </button>
      </div>
    </div>
  </body>
</html>
