<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type=text/css>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" type=text/css>
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet" type=text/css>
    <title>Building Area Usage Data</title>
</head>
<body>
    
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top mb-5">
        <div class="container">
          <a class="navbar-brand mb-0 h1" href="{{ url_for('index') }}">TranExcel</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Analysis
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="tripgenMain">Trip Generation</a></li>
                  <li><a class="dropdown-item" href="tripdisMain">Trip Distribution</a></li>
                  <li><a class="dropdown-item" href="tripassMain">Trip Assignment</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="networkMain">Network Builder</a></li>
                  <li><a class="dropdown-item" href="shortpathMain">Shortest Path</a></li>
                  <li><a class="dropdown-item" href="meMain">Matrix Estimation</a></li>
                  <li><a class="dropdown-item" href="throughMain">EE and IE/EI Estimator</a></li>
                  <li><a class="dropdown-item" href="formatMain">Building Area Usage Formatting</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="about">About</a>
              </li>
          </div>
        </div>
    </nav>

    <header class="headerTG">
        <div class="info">
          <div class="info-content">
              <h1>Building Area Usage Data</h1>
              <p>DPT releases trip generation manual that estimate the number of trips entering and exiting a site at given time.
                DPT trip rates are functions of type of development, gross floor area, number of dwelling units, or other standard measurable aspect,
                usually included in site plans.
              </p>
          </div>
        </div>
    </header>

    <section>
      <div class="container-fluid mt-3">
        <h3>Building Area Usage Data</h3>
          <hr>
          <div class="table-responsive-lg">
            <table class="table table-bordered">
              {% for row in bl_area %}
                  <tr>
                      {% for cell in row %}
                      <td>
                          {{ cell }}
                      </td>
                      {% endfor %}
                  </tr>
              {% endfor %}
            </table>

          </div>


      </div>
      
    </section>

    <footer>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2021 Copyright
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>