<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}"
    rel="stylesheet" type=text/css> <link href="{{ url_for('static',
    filename='css/styles.css') }}" rel="stylesheet" type=text/css> <link
    href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}"
    rel="stylesheet" type=text/css>
    <title>Trip Distribution Module</title>
  </head>
  <body>
    <div class="containerTD">
      <div class="item">
        <h3 style="color: white">TRIP DISTRIBUTION MODULE</h3>
        <p style="color: white">
          Trip distribution addresses the question of how many trips travel
          between traffic analysis zones. It links the trip trip productions and
          attractions from the trip generation step.The outputs of trip
          distribution are production-attraction zonal trip tables.
        </p>
        <a class="btn btn-dark" onclick="window.location.href='tripdisMED'"
          >ENTER</a
        >
      </div>
    </div>
  </body>
</html>
